<div>
    <h3 class="text-muted">Dashboard Admin</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in admin.employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td><pb-rating value="employee.rating" min="1" max="5"></pb-rating></td>
                <td>
                    <button class="btn btn-danger" ng-click="admin.promote(employee)">
                        Promote
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>